#container1 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; /* row */
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

#container2 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; /* row */
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

#container3 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; /* row */
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

h1 {
    text-align: center;
}

#div1 {
    background-color: violet;
}

#div2 {
    background-color: indigo;
}

#div3 {
    background-color: blue;
}

#div4 {
    background-color: green;
}

#div5 {
    background-color: yellow;
}

#div6 {
    background-color: orange;
}

#div7 {
    background-color: red;
}

#container1 div {
    height: 100px;
    width: 150px;
    color: white;
    text-align: center;
    /* font-size: 1.5em; */
    
}

#container2 div {
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    /* font-size: 1.5em; */
}

#container3 div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    /* font-size: 1.5em; */
}

#container1 #div5 {
    height: 100px;
    width: 150px;
    color: white;
    text-align: center;
    /* font-size: 1.5em; */
    align-self: flex-start;
    flex-basis: 300px;
}

#container2 #div5 {
    flex-grow: 1;
}

#container2 #div4 {
    flex-grow: 2;
}

#container3 #div5 {
    flex-shrink: 3;
}

#container3 #div4 {
    flex-shrink: 2;
}