.container {
    height: 500px;
    width: 570px;
    display: grid;
    grid-gap: 10px;
}

.box {
    /* height: 50px;
    width: 60px; */
    background-color: pink;
}

.box1 {
    grid-column: 1/13;
    grid-row: 1/2;
}

.box2 {
    grid-column: 1/4;
    grid-row: 2/12;
}

.box3 {
    grid-column: 4/10;
    grid-row: 2/3;
}

.box4 {
    grid-column: 10/13;
    grid-row: 2/12;
}

.box5 {
    grid-column: 4/10;
    grid-row: 3/12;
}

.box6 {
    grid-column: 1/13;
    grid-row: 12/13;
}

@media (max-width: 720px) {
    .box2 {
        grid-column: 1/4;
        grid-row: 3/12;
    }
    
    .box3 {
        grid-column: 1/13;
        grid-row: 2/3;
    }
    
    .box4 {
        grid-column: 1/4;
        grid-row: 12/13;
    }
    
    .box5 {
        grid-column: 4/13;
        grid-row: 3/12;
    }
    
    .box6 {
        grid-column: 4/13;
        grid-row: 12/13;
    }
}